* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: #ff69b4 #FDD7E4;
}

body { 
    background-color:#FFF0F5;
    font-family:verdana;
    width: 100%;
}

.container-navbar {
    background-color: #FDD7E4;
    display: flex;
    box-shadow: rgba(220, 166, 212, 0.25) 0px 13px 27px -5px, rgba(225, 38, 194, 0.3) 0px 8px 16px -8px;
    width: 100%;
    justify-content: flex-end;
    padding: 1.8rem 3rem;
    position: fixed;
}

.lista-menu {
    display: flex;
}

.color-negro{
    color: black;
    padding-right: 40px; 
}

a.color-negro:hover {
    color:  #f6a8c3;
}

.color-blanco {
    color: #FFFFFF;
    border-radius: 25px;
    background-color: #f79fbe;
    padding: 10px 25px;
}

a.color-blanco:hover {
    background-color: #FFB7C5;
} 

.container-presentacion {
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    
}

.info-personal {
    display: flex;
    flex-direction: column;
}

.info-personal-hola {
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    padding-bottom: 10px
}

.titulo-presentacion {
    font-size: 4rem;
    color: #f79fbe;
}

.descripcion-presentacion {
    font-size: 1.3rem;
    padding: 30px 0;
    color: #c999af;
}

.boton {
    color: #FFFFFF;
    border-radius: 25px;
    background-color:#f79fbe;
    padding: 15px 40px;
    width: 200px;
    
}

.img-computer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-personal {
    width: 50vh;
    height: 50vh;
}


a.boton:hover { 
    background-color: #FFB7C5;
}

.conocimientos {
    background-color:#fbe2ea;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 120px 50px;
}

.texto-conocimientos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.subtitulo-conocimientos {
    font-size: 3rem;
    padding-bottom: 40px;
}

.parrafo-conocimientos {
    line-height: 1.5;
    width: 500px;

}

.container-cards {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    width: 100%;
    max-width: 660px;
}

.card {
    display: flex;
    width: 200px;
    height: 200px;
    border: solid 1px #c999af;
    background-color: #FFF0F5;
    border-radius: 5px;
    flex-direction: column; 
    margin: 10px;
    align-items: center;
    justify-content: space-around;
    align-self: center;
}

.card:hover {
    border: solid 2px;
    border-color: #f74fd0;

}

.icono {
    width: 80px;
    height: 80px;
}


.nombre-card {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container-quote {
    display: flex;
    background: rgb(255,240,245);
    background: linear-gradient(90deg, rgba(255,240,245,1) 10%, rgba(249,179,204,1) 50%, rgba(255,240,245,1) 90%);
    height: 80vh; 
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: #db6c92;
}

.bxs-quote-right {
    font-size: 8rem;
}

.quote {
    text-align: center; 
    margin-left: 40px;
    margin-right: 40px; 
    font-size: 1.5rem;
    font-family: cursive;
}

.someone {
    font-family: verdana;
    font-size: 2.5rem;
    align-content: center;
    font-weight: 900;
}

.proyectos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 50px 140px;
    background-color: #FBE2EA;
}

.box-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects {
    font-size: 3rem;
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
}

.texto-projects {
    line-height:1.8;
    margin-bottom: 40px;
    width: 500px;
}

.container-boxs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    max-width: 53.1rem;
}

.tarjeta-projects {
    display: flex;
    width: 250px;
    height: 300px;
    border: solid 1px #c999af;
    background-color: #FFF0F5;
    border-radius: 5px;
    flex-direction: column; 
    margin: 10px;
    align-items: center;
    justify-content: space-around;
}

.tarjeta-projects:hover {
    border: solid 2px;
    border-color: #f74fd0; 
}


.titulo-projects {
    color: #f74fd0;
    font-weight: 900;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color:#FFF0F5;
}

.container-form {
    background: rgb(249,179,204);
    background: linear-gradient(90deg, rgba(249,179,204,1) 20%, rgba(251,226,234,1) 81%);
    display: flex;
    text-align: left;
    border-radius: 15px;
    padding: 1em 1em;
    box-shadow: rgba(255, 105, 235, 0.35) 0px 5px 15px;
}

.contact {
    width: 50%;
}

.title-form {
    font-size: 3rem;
}

.parrafo-contacto {
margin: 40px 0;
width: 20em;
}


.icon {
    font-size: 25px;
    margin: 10px 10px;
    padding: 4px;
    border-radius: 50%;
} 

.icon:hover {
    background-color: #f9f5f7;
    
}

.redes-sociales {
    color: black;
    display: flex;
    align-items: center;
    padding: 5px;
}

.redes-sociales:hover {
    color: #e9e4e8;

}

label {
    margin-bottom: 10px;
    margin-top: 5px;
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    color: #b0239d;
}

input, textarea {
    border-radius: 20px;
    border: 1px solid #fafafa;
    background-color: #f9f5f7;
    font-size: 1rem;
    padding: 10px 15px;
    margin-top: 10px;
    width: 100%;
    outline: none;
    resize: none;
}

input:focus, textarea:focus {
    box-shadow: 0px 0px 20px #f97ab9;
}


textarea::placeholder, input::placeholder {
    color: #e384d6;
}

.container-name-surname {
    display: flex;
    margin: 30px 0;
    gap: 30px;

}

.textarea {
    margin: 20px 0;

}


.button {
    color: #f9f5f7;
    border: 1px solid  #f97ab9;
    border-radius: 25px;
    background-color: #f97ab9;
    padding: 10px 25px;
    cursor: pointer;
    width: 50%;
    display: block;
    margin: 0 auto;
}

.button:hover {
    background-color: #f38fc1 ;
    border: 1px solid hotpink;
}

.footer {
    display: flex;
    background-color: #f79fbe;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fbe2ea;
    padding: 90px 0;
    

}

.menu-footer { 
    display: flex;
    flex-direction: row;
    gap: 40px;
}

a.color-negro:hover, a.rosa:hover {
    color:  #8a187b;
}

.rosa {
    color: #fbe2ea;
}


.iconos-footer {
    display: flex;
    flex-direction: row;
    margin: 50px 0;
}
.icon-footer {
    margin: 0 20px;
    background-color: #e9e4e8;
    border: solid 1px #e9e4e8;
    border-radius: 50%;
}

.icon-footer:hover {
    background-color: #F79FBE;
}




/* Mobile */
@media screen and (max-width: 650px) {
    
/* MENU HAMB */

.navbar {
    padding: 10px 20px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logos-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logos-menu .open {
    display: block;
    width: 2rem;
    height: 2rem;
    background-image: url(./imagenes/Bars3.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.logos-menu .close {
    display: none;
    width: 2rem;
    height: 2rem;
    background-image: url(./imagenes/XCircle.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


#menu:target .lista-menu {
    display: flex;
    flex-direction: column;
    background-color: #FDD7E4;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 60px; }


.close {
    display: none;
}

#menu:target .lista-menu a {
    display: block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.2rem;
}

#menu:target .open {
    display: none;
}

#menu:target .close {
    display: block;
    z-index: 1;
}

.lista-menu a {
    display: none;
    font-size: 0.9rem;
    color: #000405;
    margin: 0;
}


.container-presentacion {
    display: flex;
    flex-direction: column;
    padding: 3.1rem;
    
}

.info-personal-hola {
    padding-top: 7rem;
}

.imagen-personal {
    width: 30vh;
    height: 30vh;
}

.bxs-quote-right {
    font-size: 6rem;
}

.quote {
    font-size: 1.3rem;
}

.someone {
    font-size: 1.5rem;
}

.conocimientos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.subtitulo-conocimientos {
    font-size: 2rem;
}

.parrafo-conocimientos {
    width: 15em;
}

.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects {
    font-size: 2rem;
}

.texto-projects {
    width: 15em;
}

.container-boxs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    flex-direction: row;
    }

.title-description-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.parrafo-contacto {
    width: 300px;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-footer { 
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
}


}   



/* Tablet */
@media screen and (max-width: 768px) {

.info-personal-hola {
    padding-top: 7rem;
    }

.container-presentacion {
    display: flex;
    flex-direction: column;
    padding: 3.1rem;
    }

    
.container-boxs {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.contact {
    padding-top: 2em;
    width: 100%;
    align-items: center;
    }

.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
.title-form {
    font-size: 2rem;
    text-align: center;
    }
    
.parrafo-contacto {
    text-align: center;
    width: 15em;
    }
    
.redes-sociales {
        padding-left: 0;
    }
    
.container-name-surname {
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 1100px) {

.container-boxs {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

}